<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @network2.user_id %>
</p>

<p>
  <strong>Networkee:</strong>
  <%= @network2.networkee_id %>
</p>

<%= link_to 'Edit', edit_network2_path(@network2) %> |
<%= link_to 'Back', network2s_path %>
